<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540012225336-i7avcmquma40ku6s1urjv7m80tv282i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540012225336-i7avcmquma40ku6s1urjv7m80tv282i8</string>
	<key>API_KEY</key>
	<string>AIzaSyAA-r_ciKF04bV41sAoB6P4cXhZxG7WhZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>540012225336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstly</string>
	<key>PROJECT_ID</key>
	<string>test-f2495</string>
	<key>STORAGE_BUCKET</key>
	<string>test-f2495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540012225336:ios:d51eb167a220047fa217cd</string>
</dict>
</plist>